:root {
    --bgcolor: red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--bgcolor);
    padding: 5px;
    text-align: center;
}

main {
    margin: 0 auto;
}

p {
    color: aliceblue;
}


section {
    text-align: right;
    margin: 10px 50px;
    padding: 50px;
    display: block;
}

footer {
    margin-top: 15px;
    border: 1px solid #000;
    text-align: center;
}

/* creating classes*/

.box {
    width: 400px;
    background-color: aqua;
}

.box2 {
    width: 400px;
    background-color: #000;
}

.img-behavior1 {
    float: left;
}